body {
	background: url('IMG_0003.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  	background-color:#333;
  	color:#ffff;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

table,td, tr{
  padding:10px;
  vertical-align: top;
}

.translucent {
	background-color:#0000;
	background-color:rgba(255,255,255,.9);
}
textarea:not(.CodeMirror){
	font-family: "Courier New", Courier, monospace !important;
	width: 100%;
	position: relative !important;
	line-height: 13px !important;
	font-size: 13px !important;
	padding:10px !important;
	margin:0 !important;
	display:block !important;
	outline:none !important;
	resize:none !important;
}
textarea:focus{
	border-color:#333;
}
.output{
	font-weight: bold
}
.container{
	position:relative ;
	display:inline-block;
}
.panel{
	padding: 20px;
}