body {
	background: url('IMG_0003.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  	background-color:#333;
  	color:#ffff;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

table,td, tr{
  padding:10px;
}

.translucent {
	background-color:#0000;
	background-color:rgba(255,255,255,.9);
}
textarea{
	font-family: "Courier New", Courier, monospace !important;
	width: 100%;
	position: relative !important;
	line-height: 13px !important;
	font-size: 13px !important;
	padding:10px !important;
	margin:0 !important;
	display:block !important;
	outline:none !important;
}
textarea:focus{
	border-color:#333;
}
.lined{
	overflow:hidden !important;
	left:8% !important;
	width:90% !important;
}
.container{
	position:relative ;
	display:inline-block;
}
.panel{
	padding: 20px;
}
.line-nums{
	font-size:13px !important;
	overflow : hidden !important;
	line-height:13px !important;
	padding:10px 4px !important;
	font-family: monospace !important;
	background: #EEE !important;
	position: absolute !important;
	width: 20px !important;
	bottom: 0 !important;
	top: 0 !important;
	text-align:right !important;
}