body {
	background: url('IMG_0003.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  	background-color:#333;
  	color:#ffff;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

table,td, tr{
  padding:10px;
}
.alert{
  width:50%;
  height:50%;
  float:center;
}

.translucent {
	background-color:#0000;
	background-color:rgba(255,255,255,.9);
}

.container{
			position:relative;
			display:inline-block;
			}
			.line-nums{
				font-size:13px;
				line-height:13px;
				padding:10px 4px;
				font-family: monospace;
				background: #EEE;
				position: relative;
				width: 20px;
				left: -28px;
				bottom: 0;
				top: 0;
				text-align:right;
				}